.hero-section {
  text-align: center;
  background-color: #c9c9c9;
  padding: 100px 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #000000;
}

.hero-content {
  margin-bottom: 40px; 
}

.hero-images {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.hero-image {
  max-width: 100%; 
  width: 200px; 
  height: auto; 
  padding: 50px;
}
